.container {
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;

}

table {
    width: 100%;
    border-collapse: collapse;
}

@font-face {
        font-family: "apple";
        src: url("../fuentes/ARLRDBD.ttf")
        format("truetype");}

th, td {
    border: 10px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

